<mat-card>
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col-6">
                <div class="card-stats-icon bg-primary d-flex align-items-center justify-content-center mat-elevation-z8">
                    <mat-icon class="txt-light">analytics</mat-icon>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12 d-flex align-items-center justify-content-end">
                        <span class="">Website Visits</span>
                    </div>
                    <div class="col-12 d-flex align-items-center justify-content-end">
                        <span class="font-size-large">22.250</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <mat-divider></mat-divider>
            </div>
            <div class="col-12 d-flex align-items-center mt-3">
                <mat-icon class="mr-2">today</mat-icon>
                <span>Last 24 Hours</span>
            </div>
        </div>
    </div>
</mat-card>