<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <h2 class="mt-2">Dashboard</h2>
    </div>
  </div>

  <!-- Stats cards -->
  <div class="row mt-5">
    <div *ngFor="let statsCard of statsCards" class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
      <app-card-stats [statsCard]="statsCard"></app-card-stats>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <button mat-raised-button class="mr-3" (click)="showLoadingSwal()">Loading Swal</button>
      <button mat-raised-button color="primary" class="mr-3" (click)="showPomptSwal()">Prompt Swal</button>
      <button mat-raised-button color="accent" class="mr-3" (click)="showSuccesSwal()">Succes swal</button>
      <button mat-raised-button color="warn" class="mr-3" (click)="showCancelSwal()">Cancel swal</button>
    </div>
    <div class="col-12">
      <div style="height: 4000px;"></div>
    </div>
  </div>

</div>
